*,
::before,
::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	font-family: 'Syne', sans-serif;
	/* background-color: rgb(230, 227, 227); */
	color: white;

}

body {
	background-color: #000;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

.navBar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 1.5rem;

}


.navBar_hamburger {
	display: none;
}

.bar {
	display: block;
	width: 30px;
	height: 5px;
	margin: 6px auto;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background-color: white;

}

.navBar_menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-item {
	margin-left: 5rem;
}

.nav-link {
	font-size: 1.6rem;
	font-weight: 400;
	color: #333391;
}

.nav-link:hover {
	color: #a194f5;
}


.navBar__logo {
	width: 4em;
	height: auto;
	/* position: relative;
    left: 3em; */
}

.section1 {
	height: 30vh;
	width: auto;
	position: relative;
	top: 0vh;
}

.waves {
	width: 207vh;
	height: auto;
}

.up {
	position: fixed;
	margin: 3vh;
	bottom: 10vh;
}

/* VAGUES  */

.waves>path {
	-webkit-animation: a 17390ms ease-in-out infinite alternate-reverse both;
	-moz-animation: a 17390ms ease-in-out infinite alternate-reverse both;
	-ms-animation: a 17390ms ease-in-out infinite alternate-reverse both;
	-o-animation: a 17390ms ease-in-out infinite alternate-reverse both;
	animation: a 17390ms ease-in-out infinite alternate-reverse both;
	-webkit-animation-timing-function: cubic-bezier(.25, 0, .75, 1);
	-moz-animation-timing-function: cubic-bezier(.25, 0, .75, 1);
	-ms-animation-timing-function: cubic-bezier(.25, 0, .75, 1);
	-o-animation-timing-function: cubic-bezier(.25, 0, .75, 1);
	animation-timing-function: cubic-bezier(.25, 0, .75, 1);
	-webkit-will-change: transform;
	-moz-will-change: transform;
	-ms-will-change: transform;
	-o-will-change: transform;
	will-change: transform;
}

/* VAGUE 1 */

.waves>path:nth-of-type(1) {
	-webkit-animation-duration: 20580ms;
	-moz-animation-duration: 20580ms;
	-ms-animation-duration: 20580ms;
	-o-animation-duration: 20580ms;
	animation-duration: 20580ms
}

/* VAGUE 2 */

.waves>path:nth-of-type(2) {
	-webkit-animation-delay: -2690ms;
	-moz-animation-delay: -2690ms;
	-ms-animation-delay: -2690ms;
	-o-animation-delay: -2690ms;
	animation-delay: -2690ms;
	-webkit-animation-duration: 13580ms;
	-moz-animation-duration: 13580ms;
	-ms-animation-duration: 13580ms;
	-o-animation-duration: 13580ms;
	animation-duration: 13580ms
}

/* COULEUR MILIEU VAGUE 1 */

g>path:nth-of-type(1) {
	-webkit-animation-delay: -820ms;
	-moz-animation-delay: -820ms;
	-ms-animation-delay: -820ms;
	-o-animation-delay: -820ms;
	animation-delay: -820ms;
	-webkit-animation-duration: 10730ms;
	-moz-animation-duration: 10730ms;
	-ms-animation-duration: 10730ms;
	-o-animation-duration: 10730ms;
	animation-duration: 10730ms
}


/* COULEUR MILIEU VAGUE 2*/
.waves>path:nth-of-type(1),
g>path:nth-of-type(2) {
	-webkit-animation-direction: alternate;
	-moz-animation-direction: alternate;
	-ms-animation-direction: alternate;
	-o-animation-direction: alternate;
	animation-direction: alternate;
}


/* ANIMATION  */
@-webkit-keyframes a {
	0% {
		-webkit-transform: translateX(-750px);
		transform: translateX(-750px)
	}

	100% {
		-webkit-transform: translateX(-20px);
		transform: translateX(-20px)
	}
}

@-moz-keyframes a {
	0% {
		-moz-transform: translateX(-750px);
		transform: translateX(-750px)
	}

	100% {
		-moz-transform: translateX(-20px);
		transform: translateX(-20px)
	}
}

@-ms-keyframes a {
	0% {
		-ms-transform: translateX(-750px);
		transform: translateX(-750px)
	}

	100% {
		-ms-transform: translateX(-20px);
		transform: translateX(-20px)
	}
}

@-o-keyframes a {
	0% {
		-o-transform: translateX(-750px);
		transform: translateX(-750px)
	}

	100% {
		-o-transform: translateX(-20px);
		transform: translateX(-20px);
	}
}

@keyframes a {
	0% {
		-webkit-transform: translateX(-750px);
		-moz-transform: translateX(-750px);
		-ms-transform: translateX(-750px);
		-o-transform: translateX(-750px);
		transform: translateX(-750px);
	}

	100% {
		-webkit-transform: translateX(-20px);
		-moz-transform: translateX(-20px);
		-ms-transform: translateX(-20px);
		-o-transform: translateX(-20px);
		transform: translateX(-20px);
	}
}

h2 {
	text-align: center;
	font-size: 2em;
}

.logiciels {
	display: flex;
	flex-direction: row;
	justify-content: center;
}


h3 {
	justify-content: center;
	flex-direction: row;
	display: flex;
	margin-top: 10vh;
}

.svg-container .titre {

	position: absolute !important;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 4.2em;
	margin-top: 44vh;

}

.titre,
b {
	color: black;

}


.box {
	display: flex;
	align-items: center;
	justify-content: center;
}

.box img.arrow_down {
	position: relative;
	display: flex;
	width: 15vh;
	height: auto;
}


.container2 {

	max-width: 80em;
	margin-right: auto;
	margin-left: auto;
	font-size: 0.9em;
	margin-top: 55vh;


}

.container2 strong {
	display: flex;
	align-items: center;
	justify-content: center;
}

.container2 strong:nth-child(1) {
	justify-content: left;
}

.container2:nth-child(2) {
	margin-top: 5vh;
}

.container2:nth-child(3) {
	margin-top: 3vh;
}

.container2:nth-child(4) {
	margin-top: 3vh;
}

.container2:nth-child(5) {
	margin-top: 3vh;
}

.container2:nth-child(6) {
	margin-top: 3vh;
}

.container2:nth-child(7) {
	margin-top: 3vh;
}

.container2:nth-child(8) {
	margin-top: 3vh;
}


.projet_yaspeez,
.projet_haddah,
.projet_urban-sport,
.projet_art,
.projet_urban-sport {
	width: 60vh;
	height: auto;
}


.projet_haddah {
	width: 60vh;
	height: auto;
}

.projet_urban-sport {
	width: 60vh;
	height: auto;

}

.projet_art {
	width: 60vh;
	height: auto;
}


.projet_erp {
	width: 60vh;
	height: auto;

}

video {
	width: 70vh;
	height: auto;
}

.gif {
	width: 52vh;
	height: auto;
}


img.telecharger {
	background-color: transparent;
	position: relative;
	top: 1vh;
	WIDTH: 5vh;
}

#button a {


	text-decoration: none;
	color: white;
	margin: 2.5vh;
	width: 30vh;
	position: relative;
	display: grid;
	background-color: transparent;

}


#btn-hover {
	width: 30vh;
	font-size: 16px;
	font-weight: 600;
	color: #fff;
	cursor: pointer;
	height: 15vh;
	text-align: center;
	border: none;
	background-size: 300% 100%;
	Padding: 1.5vh;
	margin: 4vh;
	border-radius: 50px;
	-moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
	background-image: linear-gradient(to right, #667eea, #764ba2, #6B8DD6, #8E37D7);
	box-shadow: 0 4px 15px 0 rgba(90, 79, 108, 0.75);
	border-radius: 20px;
}

#btn-hover:hover {
	background-position: 100% 0;
	-moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}

#btn-hover:focus {
	outline: none;
}

.col-main {
	flex: 1;
	font-size: 1.4em;
}

.col-complementary {
	flex: 1;
	font-size: 1.5em;
}


.col {
	padding: 2em;
	margin: 0 2px 2px 0;

}


.container3 {
	overflow: hidden;
	display: flex;
	/* Fonctionne avec toutes les tailles */
	width: 100%;
	position: absolute;
	top: 180vh;
	transform: translateY(-50%);
	/* pour rotate on enlève le translate et on rajoute le rotate */
	/* transform:  rotate(90deg); */
}

.texte {
	white-space: nowrap;
	font-size: 4.1em;
	animation: scrollTxt 20s linear infinite;
}

@keyframes scrollTxt {
	0% {
		transform: translate(-100%, 0);
	}

	100% {
		transform: translate(0%, 0);
	}
}

.innerHeader {
	height: 5vh;
	width: 100%;
	margin: 0;
	padding: 0;
	margin-top: 40px;
}

.flex {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
}

footer {
	position: relative;
	top: 20vh;
}


/* //////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////
TABLETTE */


@media only screen and (min-width: 640px) {
	.layout {
		display: flex;
	}

	.section1 {
		height: 30vh;
		width: auto;
		position: relative;
		top: 0vh;

	}
}


/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////// 
///////////////////////////////////////////////////////////////////////////////////////////////*/


/* TAILLE TELEPHONE */
@media only screen and (max-width: 768px) {
	.navBar_menu {
		position: fixed;
		left: -100%;
		top: 5rem;
        z-index: 1;
		flex-direction: column;
		background-color: #fff;
		width: 100%;
		border-radius: 10px;
		text-align: center;
		transition: 0.3s;
		box-shadow:
			0 10px 27px rgba(0, 0, 0, 0.05);
	}

	.navBar_menu.active {
		left: 0;
	}

	.nav-item {
		margin: 2.5rem 0;
	}

	.navBar_hamburger {
		display: block;
		cursor: pointer;
	}


	.navBar_hamburger.active .bar:nth-child(2) {
		opacity: 0;
	}

	.navBar_hamburger.active .bar:nth-child(1) {
		transform: translateY(8px) rotate(45deg);
	}

	.navBar_hamburger.active .bar:nth-child(3) {
		transform: translateY(-8px) rotate(-45deg);
	}

	.navBar__logo {
		width: 4em;
		height: auto;

	}

	#page-wrap {
		position: relative;
		display: block;
		clear: both;
		background: none;
		color: #000;
		text-decoration: none;
		padding: 6rem 0;
		width: 100%;
		height: auto;
		top: 10vh;
		z-index: -1;

	}

	.svg-container {
		width: 22vh;
		height: auto;
		resize: both;

	}

	svg {
		width: 22vh;
		height: auto;
		display: block;
		margin: 9vh auto auto auto;
		transform: scale(3.7, 4.9);
	}

	#section1 {
		display: block;
		width: max-content;
		position: relative;
		top: -10vh;
		z-index: -1;

	}


	.waves {
		width: 22vh;
		height: auto;
	}


	.container3 {

        display: none;
		top: 5vh;

	}

	.section1 {
		height: 0;
		width: 90vh;
		position: relative;
	}

	.svg-container .titre {

		position: absolute !important;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 2.8em;
		margin-top: 2vh;
		margin-left: 5vh;


	}

	.titre,
	b {
		position: relative;
		top: 25vh;
		left: 4vh;

		color: black;
	}

	h1.titre {
		position: relative;

		color: antiquewhite;
		left: 2vh;
		top: 40vh;
	}


	.box {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.box img.arrow_down {
		position: relative;
		top: 10vh;
		margin-left: 15vh;
		padding: 5vh;
		margin-right: auto;
		WIDTH: 24vh;
		height: auto;
		display: block;
	}

	.haut {
		position: fixed;
		top: 5vh;
		left: 1vh;
		z-index: 1;
	}


	.container2 {
		max-width: 60em;
		margin-right: auto;
		margin-left: auto;
		position: absolute;
		top: 70vh;
		margin-block: 4vh;
		text-align: center;
	}

	.container2 strong {
		top: 5vh;
	}

	img.projet {
		width: 45vh;
		height: auto;
	}

	p.col.col-main {
		font-size: 1.7em;
	}

	#btn-hover {
		margin-top: 7vh;
		width: 26vh;
		height: 6vh;
		display: flex;
		justify-content: center;
		position: absolute;
	}

	#button a {
		text-decoration: none;
		color: white;
		width: 35vh;
		position: relative;
		display: grid;
		font-size: 1em;
		top: 0;
		margin: 1px;
	}

	img.telecharger {
		display: flex;
		MARGIN-LEFT: 1vh;
		margin-top: 10vh;
		width: 5vh;
		height: auto;
	}

	.container2:nth-child(2) {

		top: 230vh;

	}

	.projet_yaspeez {
		width: 45vh;
		height: auto;
	}


	.container2:nth-child(3) {

		top: 340vh;


	}

	img {
		height: auto;
		max-width: 100%;
	}

	video {
		/* width: 45vh; */
		height: auto;
		max-width: 100%;
	}


	.container2:nth-child(4) {

		top: 440vh;


	}


	.container2:nth-child(5) {

		top: 510vh;


	}


	.container2:nth-child(6) {

		top: 600vh;


	}


	.container2:nth-child(7) {


		top: 720vh;


	}


	.container2:nth-child(8) {
		top: 760vh;


	}

	.inner-header {
		height: 5vh;
		width: 100%;
		margin: 0;
		padding: 0;
		margin-top: 790vh;
		margin-bottom: 5vh;
		position: relative;

	}

	.flex {
		/*Flexbox for containers*/
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		text-align: center;
	}

}

@media only screen and (min-width: 992px) and (max-width : 1024px) {

	.titre,
	b {
		position: relative;
		font-size: 1.3em;
		top: -6vh;
		left: 18vh;

		color: black;
	}

	.box img.arrow_down {
		display: flex;
		align-items: center;
		left: 16vh;
	}


	button {
		margin: 0.2vh;
		font-size: 0.3em;

	}


	.container3 {
		position: absolute;
		top: 10vh;

	}

	.section1 {
		height: 30vh;
		width: auto;
		position: relative;
		top: 10vh;
	}

	img.telecharger {
		top: 5vh;

	}

	.waves {
		width: 207vh;
		height: auto;
	}

	footer {
		position: relative;
		top: 550vh;
	}
}