*,*::before,*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(93, 87, 87);
    font-size: 'Syne', sans-serif;
}

.topNav {
    overflow: hidden;
    height: 40%;
    width: 100%;
}

.topnav li a{
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    display: flex;
    color: #f2f2f2;
    padding: 1vh 1vh;
    font-size: 1.5em;
    text-decoration: none;

}

.topNav li {
    text-align: center;
}

.topNav a.active {
    background-color: rgb(199, 169, 226);
    border-radius: 10px;

}

/* .topNav__logo {
    height: 5vh;
    width: auto;
    position: relative;
    right: 19vh;
} */

   
.fa-bars::before{
    width: 250px;
    height: auto;
    color: white;
}



  
.topnav {
    overflow: hidden;
    background-color: #333;
    width: 100%;
    height: auto;
  }
  
.topnav a {
    /* float: left; */
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topNav__logo {
    /* padding: 14px 16px; */
    height: 6vh;
    width: auto;
    padding: 1px 2px;


}
  
  .topnav a:hover {
    /* background-color: #ddd; */
    color: black;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
/*   
  .topnav .icon {
    display: none;
  
  } */
  
  .topnav .logo{
      height: 6vh;
      width: auto;
      padding: 1px 2px;
  }

  section#section1{
    position: relative;
    width: 2vh;
    height: 2vh;
    top: 8vh;
  }
  
 

  .waves>path {
    
      -webkit-animation:a 17390ms ease-in-out infinite alternate-reverse both;
      -moz-animation:a 17390ms ease-in-out infinite alternate-reverse both;
      -ms-animation:a 17390ms ease-in-out infinite alternate-reverse both;
      -o-animation:a 17390ms ease-in-out infinite alternate-reverse both;
      animation:a 17390ms ease-in-out infinite alternate-reverse both;
      -webkit-animation-timing-function:cubic-bezier(.25,0,.75,1);
      -moz-animation-timing-function:cubic-bezier(.25,0,.75,1);
      -ms-animation-timing-function:cubic-bezier(.25,0,.75,1);
      -o-animation-timing-function:cubic-bezier(.25,0,.75,1);
      animation-timing-function:cubic-bezier(.25,0,.75,1);
      -webkit-will-change:transform;
      -moz-will-change:transform;
      -ms-will-change:transform;
      -o-will-change:transform;
      will-change:transform;
      }
      .waves>path:nth-of-type(1) {
      -webkit-animation-duration:20580ms;
      -moz-animation-duration:20580ms;
      -ms-animation-duration:20580ms;
      -o-animation-duration:20580ms;
      animation-duration:20580ms
      }
      .waves>path:nth-of-type(2){
          -webkit-animation-delay:-2690ms;
          -moz-animation-delay:-2690ms;
          -ms-animation-delay:-2690ms;
          -o-animation-delay:-2690ms;
          animation-delay:-2690ms;
          -webkit-animation-duration:13580ms;
          -moz-animation-duration:13580ms;
          -ms-animation-duration:13580ms;
          -o-animation-duration:13580ms;
          animation-duration:13580ms;
      }
      g>path:nth-of-type(1){
          -webkit-animation-delay:-820ms;
          -moz-animation-delay:-820ms;
          -ms-animation-delay:-820ms;
          -o-animation-delay:-820ms;
          animation-delay:-820ms;
          -webkit-animation-duration:10730ms;
          -moz-animation-duration:10730ms;
          -ms-animation-duration:10730ms;
          -o-animation-duration:10730ms;
          animation-duration:10730ms;
      }
          .waves>path:nth-of-type(1),g>path:nth-of-type(2){
              -webkit-animation-direction:alternate;
              -moz-animation-direction:alternate;
              -ms-animation-direction:alternate;
              -o-animation-direction:alternate;
              animation-direction:alternate;
          }
              
              @-webkit-keyframes a{0%
              {
                  -webkit-transform:translateX(-750px);
                  transform:translateX(-750px)
                  }100%
                  {
                      -webkit-transform:translateX(-20px);
                      transform:translateX(-20px)}
                      }
                  @-moz-keyframes a{
                      0%{
                          -moz-transform:translateX(-750px);
                          transform:translateX(-750px)
                          }
                          100%{
                              -moz-transform:translateX(-20px);
                              transform:translateX(-20px)}
                              }
                              @-ms-keyframes a{
                                  0%{-ms-transform:translateX(-750px);
                                  transform:translateX(-750px)}
                                  100%{-ms-transform:translateX(-20px);
                                  transform:translateX(-20px)}}
                                  @-o-keyframes a{0%{
                                      -o-transform:translateX(-750px);
                                      transform:translateX(-750px)}100%
                                      {-o-transform:translateX(-20px);
                                      transform:translateX(-20px)}}
                                      @keyframes a{0%
                                      {-webkit-transform:translateX(-750px);
                                      -moz-transform:translateX(-750px);
                                      -ms-transform:translateX(-750px);
                                      -o-transform:translateX(-750px);
                                      transform:translateX(-750px)}100%{
                                          -webkit-transform:translateX(-20px);
                                          -moz-transform:translateX(-20px);
                                          -ms-transform:translateX(-20px);
                                          -o-transform:translateX(-20px);
                                          transform:translateX(-20px)}}
                                         
/*         
  
h1 {
display: grid;
position: absolute;
left: 3vh;
top: 20vh;
font-size: 3.7em;
text-decoration: none;
font-weight: 790;
z-index: 2;


}

.cercle { 
position: absolute;
left: 6vh;
top: 34vh;


height: 2vh; 
width: 2vh; 
background-color: blue;
border: 0px solid rgba(0, 0, 0, 1);
border-radius: 50%; 
font-weight: none;

}  */


#page-wrap {
position: relative;
display: block;
clear: both;
background: none;
color: #000;
text-decoration: none;
padding: 4rem 0;
width: 30%;
/* height: auto;
top: 90vh; */
}


#inner-wrap {
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 3rem;
display: table;
width: auto;
height: 100%;
min-height: 122px;
overflow: visible;
z-index: -1;
}

svg {
width: auto;
height: 20vh;
position: relative;
}

.arrow_down {
position: absolute;
top: 66vh;
left: 22vh;
width: 13vh;
height: auto;

}

.fa-bars::before{
width: 250px;
height: auto;
color: white;
}


.widget-list {
display: flex;
list-style: none;
margin: 0;
padding: 0;
background: black;
border-radius: 8px;
position: relative;
top: 50vh;
height: 90vh;
width: auto;
flex-direction: column;
}

.widget {
width: 40vh;
height: 35vh;
flex: auto;
margin: 0.4rem;
margin-top: 4vh;
padding: 6px;
background: white;
line-height: 50px;
text-align: center;
border-radius: 4px;
}

h2 {
position: relative;
top: 55vh;
text-align: center;
color: white;
}

section .information {

display: flex;
flex-direction: column;
width: auto;
height: 40vh;

}

section p {
color: white;
display: flex;
top: 50vh;
position: relative;
text-align: center;
padding: 4vh;
margin: 4vh;

}

section button{
position: relative;
display: flex;
top: 55vh;
padding: 5vh;
margin-left: 8vh;
}


.section2 h3 {
position: relative;
display: flex;
top: 60vh;
} 

.trait {
background-color: darkcyan;
/* width: 4vh;
height: 6vh; */

height: 2vh; 
width: 8vh; 
/* background-color: blue; */
border: 0px solid rgba(0, 0, 0, 1);
border-radius: 20px; 
/* font-weight: none; */
position: relative;
display: flex;
top: 60vh;
}
/* 
section {
width: 100%;
} */

/* .waves {
top: 0%;
width: 510px;
height: auto;
} */
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  
    .logo2 {
      display: none;
      
    }


  }
  
  @media screen and (max-width: 722px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  
    .logo2 {
      display: none;
    }
  
    
  }
  
  @media (min-width: 722px) {
      .topnav {
          display: flex;
          align-items: center;
          justify-content: space-around;
          font-size: 1.2em;
          color: white;
          width: 70%;
          height: 50%;
          position: relative;
          left: 10%;
  
      
      }
  
      .topnav a {
          margin: 0;
          display: inline;
          color: white;
  
      }
  

  
      .topnav a {
          display: inline-block;
          list-style: none;
          /* padding: .10em 0.3370em; */
          padding: 10px 10px 0px;
          font-family: 'Syne', sans-serif;
          font-weight: 600;
  
      }

      .topNav img {
        position: relative;
        left: 5vh;
      }
  
      .topNav__logo {
          display: none;
          
      }
  
      .logo2 {
          position: absolute;
          height: 50px;
          width: 40px;
      }
      
  
     
  
  }
