
* {
    scroll-behavior: smooth;
    font-family: 'Syne', sans-serif;
    background-color: rgb(230, 227, 227);

}

*,::before,::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    
}


.navBar_hamburger {
    display: none;
}

.bar {
    display: block;
    width: 30px;
    height: 5px;
    margin: 6px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.navBar_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link{
    font-size: 1.6rem;
    font-weight: 400;
    color: #475569;
}

.nav-link:hover{
    color: #482ff7;
}

.nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: #482ff7;
}

.navBar__logo {
    width: 1em;
    height: auto;
    /* position: relative;
    left: 3em; */
}


@media only screen and (max-width: 768px) {
.navBar_menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow:
        0 10px 27px rgba(0, 0, 0, 0.05);
}

.navBar_menu.active {
    left: 0;
}

.nav-item {
    margin: 2.5rem 0;
}

.navBar_hamburger {
    display: block;
    cursor: pointer;
}


.navBar_hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.navBar_hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.navBar_hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.navBar__logo {
    width: 1.5em;
    height: auto;
  
}

}
